<div class="container">
  <div class="slider">
    <div class="showcase">
      <!-- insert images from db -->
      <img src="http://via.placeholder.com/400" alt="1" id="image1" />
      <img src="http://via.placeholder.com/400" alt="2" id="image2" />
      <img src="http://via.placeholder.com/400" alt="3" id="image3" />
      <img src="http://via.placeholder.com/400" alt="4" id="image4" />
    </div>
    <div class="thumbnail_container">
      <!-- insert images from db -->
      <div class="thumbnail_item">
        <a href=""><img src="http://via.placeholder.com/400" alt="1" /></a>
      </div>
      <div class="thumbnail_item">
        <a href=""><img src="http://via.placeholder.com/400" alt="2" /></a>
      </div>
      <div class="thumbnail_item">
        <a href=""><img src="http://via.placeholder.com/400" alt="3" /></a>
      </div>

      <div class="thumbnail_item">
        <a href=""><img src="http://via.placeholder.com/400" alt="4" /></a>
      </div>
    </div>
  </div>
  <div class="product_info">
    <!-- insert product name from db -->
    <h2>PRODUCT NAME</h2>
    <!-- insert index.html link -->
    <div class="homeButton">
      <a href="">
        <div id="backToStore" class="green_button">Back To Store</div>
      </a>
    </div>

    <div class="price">
      <h1>Price</h1>
      <h1>100€</h1>
    </div>
    <!-- can insert 5star rating if time -->
    <div class="product_rating">
      <!-- insert rating + amount of reviews from db -->
      <p>3.5(17)</p>
    </div>
    <h3>About this product</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore,
      consequuntur? Delectus commodi, magni quod aspernatur pariatur, minus
      autem accusamus suscipit vero repudiandae eligendi eveniet reiciendis
      consequatur facilis tempora. Voluptatem iste sint in maiores eum
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Est libero quas
      consectetur quibusdam saepe quidem tempora laudantium laboriosam quos
      nihil? Magni consequatur ex consectetur ipsum enim libero
    </p>
    <!-- get color,category...etc from db -->
    <ul>
      <li>Availability: <span>in stock</span></li>
      <li>Color: <span>red</span></li>
      <li>Category: <span>Shoes</span></li>
      <li>Shipping Fee: <span>Free</span></li>
    </ul>
    <div class="buy">
      <div class="amount"><input type="number" min="0" value="1" /></div>
      <a href=""><div class="addToCart green_button">Add to cart</div></a>
    </div>
  </div>
</div>
