<div class="container">
  <div class="slider">
    <div class="showcase">
      <!-- insert images from db -->
      <img src="./images/@IMAGE1@" alt="1" id="image1" />
      <img src="/images/@IMAGE2@" alt="2" id="image2" />
      <img src="/images/@IMAGE3@" alt="3" id="image3" />
      <img src="/images/@IMAGE4@" alt="4" id="image4" />
    </div>
    <div class="thumbnail_container">
      <!-- insert images from db -->
      <div class="thumbnail_item">
        <a href=""><img src="./images/@IMAGE1@" alt="1" /></a>
      </div>
      <div class="thumbnail_item">
        <a href=""><img src="./images/@IMAGE2@" alt="2" /></a>
      </div>
      <div class="thumbnail_item">
        <a href=""><img src="./images/@IMAGE3@" alt="3" /></a>
      </div>

      <div class="thumbnail_item">
        <a href=""><img src="./images/@IMAGE4@" alt="4" /></a>
      </div>
    </div>
  </div>
  <div class="product_info">
    <!-- insert product name from db -->
    <h2>@NAME@</h2>
    <!-- insert index.html link -->
    <div class="homeButton">
      <a href="index.php">
        <div id="backToStore" class="green_button">Back To Store</div>
      </a>
    </div>

    <div class="price">
      <h1>Price</h1>
      <h1> $@PRICE@</h1>
    </div>
    <!-- can insert 5star rating if time -->
    <div class="product_rating">