<p>@RATING@</p>
</div>
<h3>About this product</h3>
<p>@DESCRIPTION@</p>

<!-- get color,category...etc from db -->
<ul>
  <li>Brand: <span>@BRAND@</span></li>
  <li>Category: <span>@CATEGORY@</span></li>
  <li>Availability: <span>@AVAILABILITY@</span></li>
  <!--<li>Shipping Fee: <span>Free</span></li>-->
 </ul>

 <div class="buy">
   <div class="amount">
       <form  method="POST" action="../resources/lib/manage_cart.php" id="cart_form@PRODUCTID@">
           <input type="hidden" name="product_id" value="@PRODUCTID@">
           <input type="number" name='quantity' value="1" />
           <input type="hidden" name="product_name" value="@PRODUCTNAME@">
       </form>
   </div>
     <a href="javascript:{}" onclick="document.getElementById('cart_form@PRODUCTID@').submit();">
         <div class="addToCart green_button">Add to cart</div></a>
 </div>
 </div>
 </div>
