<div class="sortBar">
  <h1>Sort by:</h1>
  <div class="sortCategory">
    <select name="category" id="category">
      <option value="" disabled selected>Category</option>
      <option value="1">category 1</option>
      <option value="2">category 2</option>
      <option value="3">category 3</option>
      <option value="4">category 4</option>
    </select>
  </div>
  <div class="sortPrice">
    <select name="price" id="price">
      <option value="" disabled selected>Price</option>
      <option value="1">Ascending</option>
      <option value="2">Descending</option>
    </select>
  </div>
  <div class="sortRating">
    <select name="rating" id="rating">
      <option value="" disabled selected>Rating</option>
      <option value="1">Ascending</option>
      <option value="2">Descending</option>
    </select>
  </div>
  <div class="sortBrand">
    <select name="brand" id="brand">
      <option value="" disabled selected>Brand</option>
      <option value="1">brand 1</option>
      <option value="2">brand 2</option>
      <option value="3">brand 3</option>
      <option value="4">brand 4</option>
    </select>
  </div>
</div>
<div class="containerProducts">
