<div class="wrapper">
  <img src="./images/placeholder.com-logo1.png" alt="logo" />
  <form action="">
    <h1>Login</h1>
    <div class="input_group">
      <input type="text" name="" id="login_user" placeholder="Username" />
    </div>
    <div class="input_group">
      <input
        type="password"
        name=""
        id="login_password"
        placeholder="Password"
      />
    </div>
    <input type="submit" value="Login" class="submit" />
    <!-- href= signup.html -->
    <a href="" class="signup">Don't have an account?</a>
  </form>
</div>
