<header>
    <a href="#" class="logo">
        <img src="./images/placeholder.com-logo1.png" alt="logo"
        /></a>
    <nav>
        <ul>
            <li><a href="index.php">home</a></li>
            <li class="@LOGGEDOUT@"><a href="signup.php">Sign&nbsp;up</a></li>
            <li class="@LOGGEDOUT@"><a href="login.php">Log&nbsp;in</a></li>
            <li class="hidden @HIDDEN@"><a href="">Sign out</a></li>

        </ul>
    </nav>
    <div class="headerIcons">
        <ul>
            <li>
                <a href="">
                    <svg class="icon icon-search">
                        <use xlink:href="./icons/symbol-defs.svg#icon-search"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a href="cart.php">
                    <svg class="icon icon-cart">
                        <use xlink:href="./icons/symbol-defs.svg#icon-cart"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
    <a href="" class="hamburgerMenu">
        <svg class="icon icon-menu">
            <use xlink:href="./icons/symbol-defs.svg#icon-menu"></use>
        </svg>
    </a>
</header>
<div class="loggedinuser hidden @HIDDEN@"><h5>You are logged in as @USERNAME@</h5></div>
