<!-- 1 product in homepage -->
<div class="product">
  <div class="productImage">
    <!-- link image from db -->
    <a href="detail.php?product=@PRODUCTID@"><img src="./images/@IMAGE@" alt="" /></a>
    <div class="overlay">
      <!-- clicking left should add that item to cart -->
      <a href="" class="left"
        ><div class="cart">
          <div class="logo">
            <svg class="icon icon-cart">
              <use xlink:href="./icons/symbol-defs.svg#icon-cart"></use>
            </svg>
          </div>
          <p>Add to cart</p>
        </div></a
      >
      <!-- clicking right should redirect to that products detailpage -->
      <a href="detail.php?product=@PRODUCTID@" class="right"
        ><div class="toDetail"><p>Go to product</p></div></a
      >
    </div>
  </div>
  <div class="productDescription">
    <a href="">@PRODUCTNAME@</a>
    <p>€@PRICE@</p>
    <div class="rating">

