<!-- row of 1 product in shopping cart -->
<tr>
  <td class="table_icon">
    <form  method="POST" action="../resources/lib/unset_item.php" id="unset_form@PRODUCTID@">
      <input type="hidden" name="product_id" value="@PRODUCTID@">
    </form>
    <a href="javascript:{}" onclick="document.getElementById('unset_form@PRODUCTID@').submit();" class="remove_item"
      ><svg class="icon icon-bin2">
        <use xlink:href="./icons/symbol-defs.svg#icon-bin2"></use>
      </svg>
    </a>
  </td>
  <td class="table_image">
    <a href="detail.php?product=@PRODUCTID@">
      <img src="./images/@PRODUCTIMAGE@" alt="product image" />
    </a>
  </td>
  <td class="table_product_name"><a href="detail.php?product=@PRODUCTID@">@PRODUCTNAME@</a></td>
  <td class="table_price">@PRICE@€</td>
  <td class="table_quantity">
    <form  method="POST" action="../resources/lib/manage_cart.php">
      <input type="hidden" name="product_id" value="@PRODUCTID@">
      <input type="hidden" name="product_name" value="@PRODUCTNAME@">
      <input type="hidden" name="quantity" value="-1">
      <button class="minus" type="submit">-</button>
    </form>
    <input type="number" readonly name="" id="quantity@PRODUCTID@" value="@QUANTITY@" min="0" />
    <form  method="POST" action="../resources/lib/manage_cart.php">
      <input type="hidden" name="product_id" value="@PRODUCTID@">
      <input type="hidden" name="product_name" value="@PRODUCTNAME@">
      <input type="hidden" name="quantity" value="1">
      <button class="plus" type="submit">+</button>
    </form>
  </td>

  <td class="table_total">@TOTAL@€</td>
</tr>
