<h1>USERNAME's cart</h1>
<div class="container">
  <table>
    <tr>
      <th class="remove_item_header">&nbsp</th>
      <th class="thumbnail_header">&nbsp</th>
      <th class="table_header_product_name">Product</th>
      <th>Price</th>
      <th class="quantity_header">Quantity</th>
      <th>Total</th>
    </tr>
    <tr>
      <td class="table_icon">
        <a href="" class="remove_item"
          ><svg class="icon icon-bin2">
            <use xlink:href="./icons/symbol-defs.svg#icon-bin2"></use>
          </svg>
        </a>
      </td>
      <td class="table_image">
        <a href="">
          <img src="https://via.placeholder.com/150" alt="product image" />
        </a>
      </td>
      <td class="table_product_name"><a href="">product</a></td>
      <td class="table_price">6€</td>
      <td class="table_quantity">
        <button class="minus">-</button>
        <input type="number" name="" id="quantity" value="1" min="0" />
        <button class="plus">+</button>
      </td>
      <td class="table_total">6€</td>
    </tr>
    <tr>
      <td class="table_icon">
        <a href="" class="remove_item"
          ><svg class="icon icon-bin2">
            <use xlink:href="./icons/symbol-defs.svg#icon-bin2"></use>
          </svg>
        </a>
      </td>
      <td class="table_image">
        <a href="">
          <img src="https://via.placeholder.com/150" alt="product image" />
        </a>
      </td>
      <td class="table_product_name"><a href="">product</a></td>
      <td class="table_price">6€</td>
      <td class="table_quantity">
        <button class="minus">-</button>
        <input type="number" name="" id="quantity" value="1" min="0" />
        <button class="plus">+</button>
      </td>
      <td class="table_total">6€</td>
    </tr>
  </table>

  <div class="buttons">
    <div class="update_cart green_button">Update Cart</div>
    <div class="checkout green_button">Proceed to checkout</div>
  </div>
</div>
