<div class="container">
  <div class="left">
    <div class="logo">
      <a href="index.php"><img src="./images/placeholder.com-logo1.png" alt="Logo" /></a>
    </div>
    <button type="submit" form="submitform">Submit</button>
  </div>
  <form action="../resources/lib/save.php" method="POST" id="submitform"name="submitform">
    <!--security-->
    <input type="hidden" name="csrf" value="@csrf_token@">
    <!--end security-->
    <div class="input_group">
      <input
        type="text"
        name="signup_user"
        id="signup_user"
        placeholder="Username"
      />
    </div>
    <div class="input_group">
      <input
        type="password"
        name="password_user"
        id="password_user"
        placeholder="Password"

      />

    </div>
    <div class="input_group">
      <input
        type="password"
        name="password_user_confirm"
        id="password_user_confirm"
        placeholder="Confirm Password"
      />

    </div>
    <div class="radio-container">
      <input type="radio" id="male" name="gender" value="male" />
      <label for="male">Male</label>

      <input type="radio" id="female" name="gender" value="female" />
      <label for="female">Female</label>

      <input type="radio" id="other" name="gender" value="other" />
      <label for="other">Other</label>
    </div>
    <div class="input_group">
      <input
        type="text"
        name="voornaam_user"
        id="voornaam_user"
        placeholder="Name"
      />
    </div>
    <div class="input_group">
      <input
        type="text"
        name="achternaam_user"
        id="achternaam_user"
        placeholder="Surname"
      />
    </div>

    <div class="input_group">
      <input
        type="email"
        name="email_user"
        id="email_user"
        placeholder="Email-adress"
      />
    </div>
    <div class="input_group">
      <input
        type="text"
        name="straatnaam_user"
        id="straatnaam_user"
        placeholder="Streetname"
      />
    </div>
    <div class="input_group">
      <input
        type="text"
        name="house_number_user"
        id="house_number_user"
        placeholder="House Number"
      />
    </div>
    <div class="input_group">
      <input
        type="text"
        name="gemeente_user"
        id="gemeente_user"
        placeholder="City"
      />
    </div>
    <div class="input_group">
      <input
        type="text"
        name="postcode_user"
        id="postcode_user"
        placeholder="Postcode"
      />
    </div>
  </form>
</div>
