<div class="container">
  <div class="left">
    <div class="logo">
      <a href=""><img src="./images/placeholder.com-logo1.png" alt="Logo" /></a>
    </div>
    <button type="submit" form="submitform">Submit</button>
  </div>
  <form action="../resources/lib/save.php" method="POST" id="submitform">
    <div class="input_group">
      <input type="text" name="" id="signup_user" placeholder="Username" />
    </div>
    <div class="input_group">
      <input
        type="password"
        name=""
        id="password_user"
        placeholder="Password"
      />
    </div>
    <div class="input_group">
      <input
        type="password"
        name=""
        id="password_user_confirm"
        placeholder="Confirm Password"
      />
    </div>
    <div class="radio-container">
      <input type="radio" id="male" name="gender" value="male" />
      <label for="male">Male</label>

      <input type="radio" id="female" name="gender" value="female" />
      <label for="female">Female</label>

      <input type="radio" id="other" name="gender" value="other" />
      <label for="other">Other</label>
    </div>
    <div class="input_group">
      <input type="text" name="" id="voornaam_user" placeholder="Name" />
    </div>
    <div class="input_group">
      <input type="text" name="" id="achternaam_user" placeholder="Surname" />
    </div>

    <div class="input_group">
      <input type="email" name="" id="email_user" placeholder="Email-adress" />
    </div>
    <div class="input_group">
      <input
        type="text"
        name=""
        id="straatnaam_user"
        placeholder="Streetname + nr"
      />
    </div>
    <div class="input_group">
      <input type="text" name="" id="gemeente_user" placeholder="City" />
    </div>
    <div class="input_group">
      <input type="text" name="" id="postcode_user" placeholder="Postcode" />
    </div>
  </form>
</div>
